.container {
  width: 100%;
  border-bottom: 5px solid #D9D9D9;
  background: linear-gradient(180deg, #2B2D2F 5.49%, rgba(252, 252, 252, 0) 66.82%);
}

.wrapper {
  max-width: 1440px;
  height: 85.5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  width: 508px;
}

.nav a {
  list-style: none;
  margin-left: 29px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #D9D9D9;
}

.nav a:hover {
  color: #5297FF;
  transition: 0.3s;
}

.activePath {
  color: #5297FF !important;
}


.nav .triangleUp {
  position: relative;
  top: 35px;
  right: 61.5%;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 25px solid #D9D9D9;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



.nav .triangleUp2 {
  position: relative;
  top: 35px;
  right: 61.5%;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 25px solid #D9D9D9;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.nav .triangleUp3 {
  position: relative;
  top: 35px;
  right: 47.5%;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 25px solid #D9D9D9;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



@media only screen and (max-width: 1536px) {
  .wrapper {
    justify-content: space-around;
    gap: 41%;
  }
}


@media only screen and (max-width: 1440px) {
  .wrapper {
    justify-content: space-around;
    gap: 40%;
  }
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    justify-content: space-around;
    gap: 33%;
  }
}


@media screen and (min-width: 768px) and (max-width:1023px) {
  .wrapper {
    justify-content: center;
    gap: 0%;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    display: none;
  }

  .wrapper {
    max-width: 1440px;
    height: 64.5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    margin-left: 19px;
    margin-right: -8px;
  }

  .nav a {
    font-size: 22px;
    line-height: 28px;
    margin: 0 auto;
  }

  .nav .triangleUp {
    top: 26px;
    right: 61.5%;
  }


  .nav a:nth-child(3):hover~.triangleUp {
    right: 49.5%;
  }

  .nav:nth-child(4):hover~.triangleUp {
    right: 36.5%;
  }

  .nav a:nth-child(5):hover~.triangleUp {
    right: 23.5%;
  }

  .nav a:nth-child(6):hover~.triangleUp {
    right: 10.5%;
  }
}