.videoPlayer {
    z-index: 2;
    position: absolute;
    top: 39px;
    left: 29px;
}

@media only screen and (max-width: 767px) {
    .reactPlayer {
        width: 380px !important;
        height: 290px !important;
    }

    .videoPlayer {
        z-index: 2;
        position: absolute;
        top: 26px;
        left: 24px;
    }
}