.channelsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin: 21px 0 0 0;
}

@media only screen and (max-width: 1440px) {
    .channelsContainer {
        gap: 1%;
        margin: 12px 0 0 0;
    }
}


@media screen and (min-width: 768px) and (max-width:1023px) {
    .channelsContainer {
        display: flex;
        flex-wrap: nowrap;
        gap: 1%;
        overflow: overlay;
        margin: 25px 0 0 0;
    }
}



@media only screen and (max-width: 810px) {

    .channelsContainer {
        margin: 21px 0 0 0;

    }

    .channelsContainer::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 767px) {

    .channelsContainer {
        display: flex;
        flex-wrap: nowrap;
        gap: 3%;
        overflow: auto;
        margin: 55px 0 0 0;
        position: relative;
        top: -216px;
    }

}