.playInfoContainer {
    max-width: 620px;
    background: rgba(65, 65, 65, 0.65);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #D9D9D9;
    margin: 33px 0 0 0;
    padding: 17px;
}

.playInfoContainer h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.09em;
}

.playInfoContainer span {
    color: #5297FF;
}

.playInfoContainer h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.09em;
}

.playInfoContainer>p>span {
    color: #5297FF;
}

.playInfoContainer p {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.09em;
    text-align: left;
}

.playInfoContainer p:first-child {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.09em;
    color: #5297FF;
}

@media only screen and (max-width: 1440px) {
    .playInfoContainer h4 {
        font-size: 22px;
        letter-spacing: 0.07em;
    }

    .playInfoContainer h5 {
        font-size: 22px;
        letter-spacing: 0.07em;
    }

    .playInfoContainer {
        max-width: 585px;
    }
}

@media only screen and (max-width: 767px) {
    .playInfoContainer {
        max-width: 585px;
        position: relative;
        top: -301px;
        border-radius: 0px;
    }

    .playInfoContainer h4 {
        font-size: 18px !important;
        letter-spacing: 0.05em;
        line-height: 23px;
    }

    .playInfoContainer h5 {
        font-size: 18px;
        letter-spacing: 0.05em;
    }

    .playInfoContainer p {
        margin: 8px 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.07em;
        text-align: left;
    }
}


