.footerWrapper {
    background: rgba(0, 0, 0, 0.25);
    border-top: 3px solid #5297FF;
}

.footerContainer {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: auto;
    padding: 20px 0;
    color: #C3C3C3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
}

.footerMenu ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.footerContainer li:hover {
    transition: 0.3s;
    color: #5297FF;
}

.footerContainer li p{
    cursor: pointer;
    -webkit-user-select: none;
}

@media only screen and (max-width: 1440px) {
    .footerContainer {
        gap: 56%;
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 1375px) {
    .footerContainer {
        gap: 45%;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .footerContainer{
        gap: 10%;
    }
}

@media only screen and (max-width: 767px) {
    .footerContainer{
        gap: 0%;
        padding: 6px 0;
        font-size: 10px;
        flex-direction: column-reverse;
    }

    .footerMenu ul {
        display: flex;
        gap: 7px;
        list-style: none;
        margin:7px ;
    }
}