.container {
    padding-top: 3vh;
    padding-bottom: 5vh;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
}

.contentAbout h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 40px;
    color: #D9D9D9;
}

.contentAbout h2 {
    color: #D9D9D9;
    margin-top: 10px;
    font-size: 32px;
}

.contentAbout p {
    margin-top: 2.2vh;
    font-size: 2.2vh;
    color: black;
    max-width: 800px;
}

.wrapper {
    background-color: #9D9D9F;
    padding: 30px 50px 50px 50px;
    border-radius: 0 0 30px 0;
    background-image: url('/images/tv_pop.webp');
    background-repeat: no-repeat;
    background-position: 1040px 330px;
    background-size:450px;
}

.content {
    max-width: 900px;
    text-align: left;
}

.teamContainer {
    font-size: 2.2vh;
    line-height: 22px;
    display: flex;
    gap: 10%;
}

.teamContainer p{
    font-weight: bold;
    font-size: 2.3vh;
}

.teamContainer ul li {
    list-style: none;
    margin: 6px 0;
}

.teamContainer li a{
    margin-right:  8px;
}



@media only screen and (max-width: 767px) {

    .wrapper{
        padding: 30px 20px 50px 20px;
        margin: 0 20px;
    }
    
    .contentAbout h1 {
        font-size: 38px;
    }

    .contentAbout h2 {
        font-size: 30px;
    }

    .teamContainer {
        gap: 0%;
        flex-direction: column;
    }
}