.controls {
    max-width: 460px;
    height: 51px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #403F3F;
    border-radius: 8px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px 0 0 0;
     user-select: none;
    -webkit-user-select: none;
}

.powerBtn {
    margin-top: 6px;
    padding: 0;
    font-size: 28px;
    transition: 0.3s;
    cursor: pointer;
}

.isActive{
   color: #5297FF;
}

.powerBtn:hover {
    color: #5297FF;
}

.channels,
.volume {
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
}

.channels label {
    margin: 5px 0 0 0;
    color: #5297FF;
}

.channelDown {
    margin: 5px 5px 0 5px;
    transform: rotate(90deg);
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.channelDown:hover {
    color: #5297FF;
}

.channelUp {
    margin: 5px 5px 0 5px;
    transform: rotate(270deg);
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.channelUp:hover {
    color: #5297FF;
}

.channels p {
    margin: 0 0 0 5px;
    color: #5297FF;
}

.channels label{
    font-size: 14px;
}

.volume {
    margin: 5px 0 0 0;
}

.volume label {
    color: #5297FF;
}

.volumeDown {
    margin: 10px 5px 0 5px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.volumeDown:hover {
    color: #5297FF;
}

.volumeUp {
    margin: 10px 5px 0 5px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.volumeUp:hover {
    color: #5297FF;
}

.volume p {
    color: #5297FF;
}

.volume label{
    font-size: 14px;
}

.fullScreen {
    font-size: 42px;
    margin: 15px 0 0 0;
    transition: 0.3s;
    cursor: pointer;
}

.fullScreen:hover {
    color: #5297FF;
}

.skins {
    margin: 10px 0 0 0;
    cursor: pointer;
}

.skins img {
    margin: 0 -7px;
}


.tick p{
    padding: 0;
    color: #5297FF;
    font-weight: bold;
}

.tick{
    position: relative;
    margin: -1px 0 -23px 0;
}