.tvContainer {
    position: relative;
}

.blob {
    position: absolute;
    top: 33px;
    right: 17px;
    z-index: 0;
}

.tv {
    position: relative;
    top: 0px;
    z-index: 4;
    filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.25));
}


.crtScanlines {
    background-image: repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 2px);
}

.blackScreen {
    z-index: 1;
    max-width: 660px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #000000 0%, #2b2b2b 50%, #595959 100%);
    position: absolute;
    top: 4px;
    right: 42px;
}

.mapArea {
    cursor: pointer;
    z-index: 5;
    width: 22px;
    height: 9px;
    display: block;
    position: relative;
    top: -67px;
    left: 299px;
}

@media only screen and (max-width: 1536px) {
    .blackScreen {
        right: 13px;
        max-width: 641px;
        max-height: 512px;
    }

    .blob {
        top: 57px;
    }

    .mapArea {
        top: -68px;
        left: 283px;
    }
}


@media only screen and (max-width: 1440px) {
    .blackScreen {
        top: 4px;
        right: 77px;
    }

    .blob {
        top: -4px;
        right: 26px;
    }
}



@media only screen and (max-width: 1400px) {
    .blackScreen {
        top: 4px;
        right: 0px;
    }
}

@media only screen and (max-width: 1375px) {
    .blackScreen {
        top: 20px;
        right: 10px;
        max-width: 626px;
        max-height: 545px;
    }

    .blob {
        top: 52px;
        right: 18px;
    }

}

@media only screen and (max-width: 1280px) {
    .blackScreen {
        max-width: 546px;
        max-height: 464px;
        top: 4px;
        right: 42px;
    }

    .blob {
        top: 53px;
        right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .tvContainer {
        display: flex;
        justify-content: center;
    }

    .blob {
        top: -22px;
        right: 17px;
    }

    .blackScreen {
        max-width: 596px;
        max-height: 501px;
        top: 20px;
        right: 130px;
    }

    .mapArea {
        width: 22px;
        height: 14px;
        top: 599px;
        left: -402px;
    }
}

@media only screen and (max-width: 820px) {
    .blackScreen {

        right: 95px !important;
    }
}

@media only screen and (max-width: 920px) {
    .blob {
        display: none;
    }

    .blackScreen {
        max-width: 629px;
        max-height: 501px;
        top: 34px;
        right: 154px;
    }
}


@media only screen and (max-width: 767px) {

    .tv {
        max-width: 95% !important;
    }

    .blackScreen {
        width: 532px;
        height: 264px;
        top: 16px;
        right: 17px;
        max-width: 91%;
    }

    .blob {
        display: none;
    }

    .mapArea {
        top: -43px;
        left: 171px;
    }
}

@media only screen and (max-width: 540px) {
    .blackScreen {
        width: 480px;
        height: 348px;
        top: 34px;
        right: 28px !important;
        max-width: 100%;
    }
}



@media only screen and (max-width: 450px) {
    .blackScreen {
        width: 370px;
        height: 281px;
        top: 25px;
        right: 28px !important;
        max-width: 100%;
    }
}

@media only screen and (max-width: 420px) {

    .mapArea {
        top: -42px;
        left: 170px;
    }

    .blackScreen {
        width: 356px;
        height: 348px;
        top: 8px;
        right: 28px !important;
        max-width: 100%;
    }
}

@media only screen and (max-width: 394px) {

    .blackScreen {
        width: 334px !important;
        height: 325px !important;
        top: 24px;
        right: 24px !important;
        max-width: 100%;
    }

    .mapArea {
        top: -40px;
        left: 159px;
    }
}

@media only screen and (max-width: 380px) {

    .blackScreen {
        width: 334px !important;
        height: 318px !important;
        top: 0px;
        right: 24px !important;
        max-width: 100%;
    }
}


@media only screen and (max-width: 360px) {
    .blackScreen {
        width: 334px !important;
        height: 282px !important;
        top: 8px;
        right: 12px !important;
        max-width: 100%;
    }

    .mapArea {
        top: -38px;
        left: 148px;
    }
}

@media only screen and (max-width: 320px) {
    .blackScreen {
        width: 280px !important;
        height: 267px !important;
        top: 4px !important;
        right: 24px !important;
        right: 20px !important;
        max-width: 100%;
    }
}


@media only screen and (max-width: 300px) {

    .mapArea {
        top: -40px;
        left: 155px;
    }
}

@media only screen and (max-width: 290px) {
    .blackScreen {
        width: 242px !important;
        height: 200px !important;
        top: 4px !important;
        right: 24px !important;
        right: 20px !important;
        max-width: 100%;
    }
}

/* 80s TV ----------------------------------------------------------------*/

.tv80s {
    position: relative;
    top: 0px;
    z-index: 4;
    filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.25));
    max-width: 108% !important;
}


.blob80s {
  position: absolute;
    top: -19px;
    right: 17px;
    z-index: 0; 
    max-width: 91% !important;
}

.blackScreen80s{
    z-index: 1;
    max-width: 606px;
    max-height: 498px;
    width: 100%;
    height: 86%;
    background-image: linear-gradient(to bottom, #000000 0%, #2b2b2b 50%, #595959 100%);
    position: absolute;
    top: 13px;
    right: 42px;
}
