.main {
    background: linear-gradient(to top,
            #3F3C3C 0%,
            #3F3C3C 55.2%,
            #D9D9D91F 0%,
            #D9D9D91F 100%);
}

.mainWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 31px 0;
    display: flex;
    gap: 6%;
}

.leftSecton {
    position: relative;
}

.leftSecton>img {
    color: transparent;
    position: absolute;
    top: 38px;
    left: 30px;
    z-index: 4;
}

.show {
    display: block;
    opacity: 1;
}

.hide {
    transition: 3s;
    opacity: 0;
    animation: fade-out 5s ease-in-out;
}

@media only screen and (max-width: 1536px) {
    .leftSecton {
        margin-left: 30px;
    }

    .rightSecton {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 1440px) {
    .mainWrapper {
        gap: 2%;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1280px) {
    .mainWrapper {
        gap: 2% !important;
        margin-left: 0px !important;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .mainWrapper {
        gap: 0%;
        margin-left: 0px;
        flex-direction: column;
    }

    .leftSecton {
        margin-left: 0px;
    }

    .rightSecton {
        margin-right: 0px;
        position: relative;
        top: -387px;
    }

    .leftSecton>img {
        top: 51px;
        left: 91px;
    }

    .blackScreen {
        max-width: 639px;
        max-height: 501px;
        top: 32px;
        right: 97px;
    }

    .videoPlayer {
        top: 52px;
        left: 87px;
    }
}

@media only screen and (max-width: 767px) {
    .mainWrapper {
        gap: 0%;
        margin-left: 0px;
        margin: 0 auto;
        flex-direction: column;
        margin: 0 auto;
    }

    .leftSecton {
        margin-left: 0px;
    }

    .rightSecton {
        margin-right: 0px;
    }

    .leftSecton>img {
        max-width: 97% !important;
        color: transparent;
        position: absolute;
        top: 6px;
        left: 7px;
        z-index: 4;
    }

    .main {
        background: linear-gradient(to top,
                #3F3C3C 0%,
                #3F3C3C 29%,
                #D9D9D91F 0%,
                #D9D9D91F 100%);
    }

}