.main{
    background: linear-gradient(to top,
            #3F3C3C 0%,
            #3F3C3C 55.2%,
            #D9D9D91F 0%,
            #D9D9D91F 100%);
}

.mainWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 31px 0 ;
    display: flex;
    gap: 6%;
}

.leftSecton{
    position: relative;
}

.leftSecton>img{
    color: transparent;
    position: absolute;
    top: 64px;
    left: 35px;
    z-index: 4;
}

.show {
    display: block;
    opacity: 1;
}

.hide{
    transition: 3s;
    opacity: 0;
  animation: fade-out 5s ease-in-out;
}


