.main {
    background: linear-gradient(to top,
            #3F3C3C 0%,
            #3F3C3C 55.2%,
            #D9D9D91F 0%,
            #D9D9D91F 100%);
}

.mainWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 31px 0;
    display: flex;
    gap: 6%;
}


@media only screen and (max-width: 1536px) {
    .leftSecton {
        margin-left: 30px;
    }

    .rightSecton {
        margin-right: 30px;
    }
}



@media only screen and (max-width: 1440px) {
    .mainWrapper {
        gap: 0%;
        margin-left: 30px;
    }
}


@media only screen and (max-width: 1280px) {
    .mainWrapper {
        gap: 1%;
        margin-left: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .mainWrapper {
        gap: 0%;
        margin-left: 0px;
        flex-direction: column;
    }

    .leftSecton {
        margin-left: 0px;
    }

    .rightSecton {
        margin-right: 0px;
        position: relative;
        top: -387px;
    }
}

@media only screen and (max-width: 767px) {
    .mainWrapper {
        gap: 0%;
        margin-left: 0px;
        margin: 0 auto;
        flex-direction: column;
        margin: 0 auto;
    }

    .leftSecton {
        margin-left: 0px;
    }

    .rightSecton {
        margin-right: 0px;
    }
}