.main {
    background: linear-gradient(to top,
            #3F3C3C 0px,
            #3F3C3C 711px,
            #D9D9D91F 0px,
            #D9D9D91F 100px)
}

.mainWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 31px 0 0 0;
    display: flex;
    gap: 6%;
}

.leftSecton {
    z-index: 0;
}


@media only screen and (max-width: 1536px) {
    .leftSecton {
        margin-left: 30px;
    }

    .rightSecton {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 1440px) {
    .mainWrapper {
        gap: 2%;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1280px) {
    .mainWrapper {
        gap: 2% !important;
        margin-left: 0px !important;
    }
}


@media only screen and (max-width: 850px) {
    .leftSecton>img {
        top: 45px !important;
        left: 126px !important;
        max-width: 95% !important;
    }


    .rightSecton {
        position: relative !important;
        top: -194px !important;
    }

    .pageInfo {
        position: relative;
        top: 295px;
    }

    .videoPlayer {
        z-index: 2;
        position: absolute;
        top: 50px !important;
        left: 100px !important;
    }

    .leftSecton>img {
        top: 45px !important;
        left: 100px !important;
        max-width: 95% !important;
    }

    .blackScreen {
        max-width: 629px;
        max-height: 501px;
        top: 45px;
        right: 137px !important;
    }
}


@media only screen and (max-width: 825px) {

    .channels,
    .controls,
    .ad,
    .pageInfo {
        position: relative;
    }

    .channels {
        top: -2px;
    }

    .controls {
        top: 9px;
    }

    .ad {
        top: 318px;
    }

    .pageInfo {
        top: 340px;
    }
}

@media only screen and (max-width: 815px) {

    .channels,
    .controls,
    .ad,
    .pageInfo {
        position: relative;
    }

    .channels {
        top: -2px;
    }

    .controls {
        top: 9px;
    }

    .ad {
        top: 318px;
    }

    .pageInfo {
        top: 340px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .mainWrapper {
        gap: 0%;
        margin-left: 0px;
        flex-direction: column;
    }

    .leftSecton {
        margin-left: 0px;
    }

    .rightSecton {
        margin-right: 0px;
        position: relative;
        top: -387px;
    }

    .main {
        background: linear-gradient(to top, #3F3C3C 0%, #3F3C3C 50%, #D9D9D91F 0%, #D9D9D91F 100%);
    }
}

@media only screen and (max-width: 821px) {
    .rightSecton{
        position: relative !important;
        top: -377px !important;
    }
}

@media only screen and (max-width: 769px) {
    .mainWrapper {
        gap: 0%;
        margin-left: 0px;
        margin: 0 auto;
        flex-direction: column;
        margin: 0 auto;
    }

    .tv {
        max-width: 95% !important;
    }

    .blackScreen {
        width: 532px;
        height: 264px;
        top: 16px;
        right: 17px;
        max-width: 91%;
    }

    .leftSecton {
        margin-left: 0px;
        text-align: center;
    }

    .rightSecton {
        margin-right: 0px;
    }

    .main {
        background: linear-gradient(to top,
                #3F3C3C 0%,
                #3F3C3C 56.2%,
                #D9D9D91F 0%,
                #D9D9D91F 100%);
    }

    .channels,
    .controls,
    .ad,
    .pageInfo {
        position: relative;
    }

    .channels {
        top: -200px;
    }

    .controls {
        top: -187px;
    }

    .ad {
        top: 110px;
    }

    .pageInfo {
        top: 312px;
    }

    .rightSecton {
        position: relative !important;
        top: -193px !important;
    }
}

@media only screen and (max-width: 667px) {
    .pageInfo {
        display: none;
    }

    .blackScreen {
        width: 589px;
        height: 420px;
        top: 50px;
        right: 59px !important;
        max-width: 91%;
    }

    .rightSecton {
        top: 43px;
        position: relative;
    }

}


@media only screen and (max-width: 542px) {
    .rightSecton {
        margin-right: 0px;
        position: relative;
        top: -227px;
    }
}

@media only screen and (max-width: 460px) {
    .rightSecton {
        margin-right: 0px;
        position: relative;
        top: -265px !important;
    }

    .pageInfo {
        display: block;
    }

}

@media only screen and (max-width: 440px) {
    .rightSecton {
        top: -230px !important;
    }
}

@media only screen and (max-width: 430px) {
    .rightSecton {
        top: -251px !important;
    }
}


@media only screen and (max-width: 420px) {
    .rightSecton {
        top: -250px !important;
    }
}

@media only screen and (max-width: 400px) {
    .rightSecton {
        top: -266px !important;
    }
}


@media only screen and (max-width: 380px) {
    .rightSecton {
        top: -267px !important;
    }
}


@media only screen and (max-width: 360px) {
    .rightSecton {
        top: -285px !important;
    }
}

@media only screen and (max-width: 330px) {
    .rightSecton {
        margin-right: 0px;
        position: relative;
        top: -396px !important;
    }
}


@media only screen and (max-width: 290px) {
    .rightSecton {
        margin-right: 0px;
        position: relative;
        top: -480px !important;
    }
}